﻿@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> signInManager

<ul class="navbar-nav">

    @if (signInManager.IsSignedIn(User))
    {

        <p style="margin-right: 10px;"> @User.Identity!.Name!</p>

        <li>
            <a class="dropdown-item" asp-action="Logout" asp-controller="Account" style="font-weight: bold">LogOut</a>
        </li>


        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
                <a class="dropdown-item" asp-action="Logout" asp-controller="Account">LogOut</a>
            </li>
        </ul>


    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
        </li>
    }
</ul>