@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> signInManager

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="color: white; font-weight: bold;">Welcome</h1>
    <p style="color: white; font-weight: bold;">You are logged in @User.Identity!.Name!</p>
</div>